* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  background: url(../src/components/img/pexels_gradienta_6985003.jpg)  center center/cover no-repeat;
}
h1, h2 {
  text-align: center;
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  width: 900px;
}
.instruments {
  display: flex;
  justify-content: space-between;
}
.post {
  display: flex;
  padding: 12px;
  background: rgba(175, 208, 216, 0.25);
  border: 2px solid teal;
  border-radius: 10px;
  margin-top: 15px;
}
.post_link {
  display: flex;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 10px;
  border-radius: 10px;
  padding: 5px 0;
  color: #000;
}
.input_wrapper {
  display: flex;
  align-items: center;
}
.post_element {
  margin-left: 10px;
}
.post_number {
  min-width: 15px;
}
.post_name {
  width: 140px;
}
.post_username {
  width: 150px;
  word-wrap: break-word;
}
.post_mail {
  width: 200px;
  word-wrap: break-word;
}
.post_phone {
  width: 210px;
  word-wrap: break-word;
}
.post_content {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.post_back {
  justify-content: center;
  width: 150px;
  margin-top: 20px;
}
.rating {
  display: flex;
}
.head, .noposts{
  text-align: center;
  margin-top: 15px;
}
.header {
  display: flex;
  padding: 12px;
  background: rgba(175, 208, 216, 0.25);
  border: 2px solid teal;
  border-radius: 10px;
  margin-top: 15px;
}
.header_item {
  margin-left: 10px;
  font-size: 20px;
}
.header_name {
  margin-left: 40px;
  width: 160px;
}
.header_username {
  width: 160px;
}
.header_mail {
  width: 200px;
}
.header_address {
  width: 260px;
}

.remove_btn {
  padding: 5px 15px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 14px;   
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.selectedItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  margin-top: 10px;
  font-size: 20px;
}
.selectedPost {
  background: rgba(172, 172, 172, 0.25);
  border-radius: 5px;
  margin: 5px 10px 5px 0;
  padding: 5px 12px;
}
.selectedPostInfo {
  background: rgba(172, 172, 172, 0.25);
  border-radius: 5px;
  margin: 5px 5px 5px 0 ;
  padding: 5px 12px;
}
.loading {
  margin-top: 20px;
}
header {
  background: #83838336;
  margin: 20px 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.menuItem {
  text-decoration: none;
  background-color: rgb(2, 69, 253);
  color: #ffffff;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px 10px;
}
.active {
  background-color: rgb(171, 0, 250);
}
.userpage {
  font-size: 20px;
  border: 2px solid rgb(0, 255, 13);
  border-radius: 10px;
  margin-top: 20px;
}
.user {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.friendlist{
  width: 600px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 10px;
}